body {
    --intro-height: 30px;
    align-items: center;
    padding-top: var(--intro-height);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 6;
    background-color: rgba(0, 0, 0, 255);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: scroll; /* enable scrolling */
    -webkit-scrollbar: none; /* hide scrollbar in WebKit browsers (Chrome, Safari, Opera) */
    scrollbar-width: none; /* hide scrollbar in Firefox */
    -ms-overflow-style: none;
    body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */
    
    /*overflow: hidden; /* Hide scrollbars */
  }/* Hide scrollbar for Chrome, Safari and Opera */

  html { scrollbar-width: none; } /* Firefox */

header{
    z-index: 100;
}

h1{
    text-align: center;
    color: white;
    font-size: 400%;
    z-index: 10;
}
#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 10;
}

#bgVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.myPic{
width: 500px;
height: 300px;
display: inline-block;
img{
  width: 100%;
  height: 100%;
}

}
.top-Image{
    padding-top: 20%;
    padding-left: 8%;
    float: left;

}/*
.hide {
    opacity:0;
   
}
.show {
    opacity:1;
    animation: fadeIn 0.5s forwards; /* adjust duration and animation name as needed 

  
}*/
#blur{
    
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.25));
}
#lcome{
    align-items: center;
}
.fill{
 padding-top: 125%;
 padding-left: 40%;
 width: 300%;
 height: 100%; 
 align-items: center;  
 display: inline;
}
.hide {
   /* opacity:0;
    /*animation: fadeIn 2s backwards;*/
    animation: fadeOut 1s forwards;
}
.show {
    /*opacity:1;*/
    animation: fadeIn 1s forwards; /* adjust duration and animation name as needed */

  
}

#section1{
    position: relative;
    top: 0;
    padding-left: 10%;
    padding-bottom: 0%;
    color: white;
    text-align: left;
    font-size: 250%;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
}
#section2{
    display: flex;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0);

}
.card-image .card-img{
    height: 100%;
    width: 100%;
    padding-top: 70%;
    object-fit: cover;

}.card-image .card-img1{
    height: 100%;
    width: 100%;
    margin-top: 70%;
    margin-left: 120%;
    object-fit: cover;

}.card-image .card-img2{
    height: 100%;
    width: 100%;
    margin-top: 70%;
    margin-left: 240%;
    object-fit: cover;

}.card-image .card-img3{
    height: 100%;
    width: 100%;
    margin-top: 70%;
    margin-left: 360%;
    object-fit: cover;

}.card-image .card-img4{
    height: 100%;
    width: 100%;
    margin-top: 70%;
    margin-left: 480%;
    object-fit: cover;

}
.rcontent{
    margin: 0 40px;
    

}
.card{
    border-radius: 35px;
}
#ccontent{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 9%;
    width: 150px;
    height: 150px;
}
#ccontent1{
    background-color: rgba(255, 255, 255, 0);
    margin-left: 24.75%;
    margin-top: -11.75%;
    width: 150px;
    height: 150px;
    /*grat*/
}
#ccontent2{
    background-color: rgba(255, 255, 255, 0);
    margin-left:12.4%;
    width: 150px;
    height: 150px;
    margin-top:-11.51%;
    /*fair*/
}
#ccontent3{
    background-color: rgba(255, 255, 255, 0);
    margin-left: 37.1%;
    margin-top: -11.81%;
    width: 150px;
    height: 150px;
    /*Judgement*/
}
#ccontent4{
    background-color: rgba(255, 255, 255, 0);
    margin-left: 49.5%;
    margin-top: -11.625%;
    width: 150px;
    height: 150px;
    /*creative*/
}
.Strength{
    color: white;
}