body {
    --intro-height: 30px;
    align-items: center;
    padding-top: var(--intro-height);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, black, grey);
    overflow-y: scroll; /* enable scrolling */
    -webkit-scrollbar: none; /* hide scrollbar in WebKit browsers (Chrome, Safari, Opera) */
    scrollbar-width: none; /* hide scrollbar in Firefox */
    -ms-overflow-style: none;
    /*overflow: hidden; /* Hide scrollbars */
  }/* Hide scrollbar for Chrome, Safari and Opera */




h1{
    text-align: center;
    color: white;
    font-size: 400%;
}
#container {
    width: 50px;
    height: 30px;
    position: relative;
}
#bgVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#myPic{
width: 500px;
height: 300 px;
img{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

}
.top-Image{
    padding-top: 600px;
    padding-left: 100px;
    position: relative;

}
.hide {
    opacity:0;
   
}
.show {
    opacity:1;
    animation: fadeIn 0.5s forwards; /* adjust duration and animation name as needed */

  
}
#blur{
    
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.25));
}
#lcome{
    align-items: center;
}
.fill{
padding-top: 550px;
 width: 300px;
 height: 30px; 
 align-items: center;  
 z-index: 10;
 margin: auto;

}
.hide {
    opacity:0;
    animation: fadeIn 0.5s backwards;
}
.show {
    opacity:1;
    animation: fadeIn 0.5s forwards; /* adjust duration and animation name as needed */

  
}
#p1{
    color: black;
    padding-left: 50px;
    text-align: center;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
